@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bar{
   width: 100%;
   height: 80px;
    padding: 0px 25px 0px;
    border-bottom: 1px solid #B58F61;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: white;

}
.nav-bar  #checkbox{
    display: none;
   
}
.nav-bar .checkbtn{
 
 font-size: 2rem;
 color: #B58F61;
 margin-right: 20px;
 float: right;
 display: none;
 cursor: pointer;
}
 /* .checkbtn:checked{
      
} */
.nav-bar .navbar-brand{
  
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding-top: 15px;

}
.nav-bar .navbar-brand h2{
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 7px;
  color: rgb(34, 31, 31);
  text-transform: uppercase;
}.nav-bar .navbar-brand h2 span{
    color: #B58F61;
  
  }
.nav-bar .navbar-brand h3{
    font-size: 1.1rem;
    color: #525252;
  
  }
  .dropdownmenu-small-screen{
    display: none;
  }
.nav-bar .navbar-ul{
    list-style: none;
    float: right;
  
}
.nav-bar .navbar-ul .nav-item{
    display: inline-block;
    padding: 15px 0px 21px;
    
    
}
.nav-bar .navbar-ul .nav-item:hover .nav-link{
   color: #B58F61;
  
    
}

.nav-bar .navbar-ul .nav-item .nav-link{
   color: black;
   text-transform: uppercase;
   font-weight: 350;
   padding-right:0px ;
    
}
.nav-bar .navbar-ul .drop-down .nav-link i{
  color: white;
  margin-left: auto;
   display: none;
}
.nav-bar .navbar-ul .drop-down{
    position: relative;
     
 }

 .nav-bar .navbar-ul .drop-down .dropdownmenu{
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  top:78px;
  left: 0;
  transition: all 0.3s linear;
  width: 230px;
  display: none;
  /*box-shadow: 5px 5px 5px rgb(0, 0, 0,0.2),-5px  5px rgb(0, 0, 0,0.2) ;
  */-webkit-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
 .nav-bar .navbar-ul .drop-down .dropdownmenu .dropdownitem{
    font-weight: 150;
    display: block;
    color: black;
    font-weight: 150px;
    text-decoration: none;
  padding-top: 10px;
   padding-bottom: 10px;
  padding-left: 10px;
  border-bottom: 1px solid #B58F61;
  text-transform: uppercase;
 
 }
 .nav-bar .navbar-ul .drop-down .dropdownmenu .dropdownitem:first-child{
   
    border-top: 1px solid #B58F61;
   }
   .nav-bar .navbar-ul .drop-down .dropdownmenu .backBtn{
   display: none;
   }
 .nav-bar .navbar-ul .drop-down .dropdownmenu .dropdownitem:last-child{
   
  border-bottom: none;
 }
 .nav-bar .navbar-ul .drop-down:hover .dropdownmenu{
   
     display: block;
 }

 .nav-bar .navbar-ul .drop-down .dropdownmenu .dropdownitem:hover{
  color: #B58F61;
}
section.slider{
  margin-top: 5rem;

}

 section.slider .img-container  .overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

 section.slider .img-container{
  position:relative;
  width: 100%;
  height: 90vh;
  
} 
section.slider .img-container .slide{
  position:absolute;
  width: 100%;
  height: 90vh;
} 
section.slider .img-container .slide-img1{
  background-image: url('../images/shutterstock_1140303926-2000Wx1064H.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  animation: fade1 12s infinite;
  -webkit-animation: fade1 12s infinite;
} 
 section.slider .slide-img2{
  background-image: url('../images/shutterstock_1190885866-2000Wx1064H.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  animation: fade2 12s infinite;
  -webkit-animation: fade2 12s infinite;
}

section.slider .slide-img3{
  background-image: url('../images/shutterstock_426536971-2000x1064-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  animation: fade3 12s infinite;
  -webkit-animation: fade3 12s infinite;
}

 @keyframes fade1{
  0%{
    opacity: 1;
  }
  25%{
    opacity: 0;
  }
  75%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes fade2{
  0%{
    opacity: 0;
  }
  25%{
    opacity: 1;
  }
  75%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
} 
 
@keyframes fade3{
  0%{
    opacity: 0;
  }
  25%{
    opacity: 0;
  }
  75%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.desc-article{
margin-top: 6rem;
margin-bottom: 6rem;

}
.desc-article .title {
  margin-bottom: 2rem;
}
.desc-article .title h3{
  text-transform: uppercase;
  font-weight: 100;
  font-size: 2.7rem;
  color: #0D0D0D;
}
.desc-article .info h4{
  color: #B58F61;
  font-weight: 400;
  font-size: 1.6rem;
  
}
.desc-article .info .underline{
 width: 240px;
 height: 1px;
 background-color: #B58F61;
 margin-top: 1.5rem;
 margin-bottom: 1.5rem;
  
}
.desc-article .info p{
 font-size: 1.1rem;
 font-weight: 350;
   
 }
 .desc-article .info p:nth-child(3){
  padding-bottom: 1rem;
    
  }

  .desc-article .info p a{
     color: #B58F61;
     text-decoration: underline;
      
    }
    .our-philosophy{
      background-image: url('../images/shutterstock_506950651-2000Wx1064H.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 75vh;
      display: flex;
      align-items: center;
      background-attachment: fixed;
    }
    .our-philosophy .info{
      background-color: white;
      border: none;
      outline: none;
      z-index: 1;
      padding: 30px 40px ;
    }
    .our-philosophy .info h3{
      color: #B58F61;
      font-weight: 400;
      font-size: 1.6rem;
      
    }
    .our-philosophy .info .underline{
      width: 200px;
      height: 1px;
      background-color: #B58F61;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
       
     }
     .feature{
       margin-top: 6rem;
       margin-bottom: 6rem;
     }
     .feature .info{
      padding-left:4rem ;
      
    }
     .feature .info h3{
      color: #B58F61;
      font-weight: 400;
      font-size: 1.6rem;
      
    }
    .feature .info .underline{
      width: 200px;
      height: 1px;
      background-color: #B58F61;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
       
     }
     .feature .info p a{
      color: #B58F61;
      text-decoration: underline;
       
     }
     .feature .menu-div{
    padding-left: 4rem;
    }
     .feature .menu-div h3{
      color: #B58F61;
      font-weight: 400;
      font-size: 1.6rem;
    }
    .feature .menu-div .underline{
      width: 200px;
      height: 1px;
      background-color: #B58F61;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
       
     }
     .feature .menu-div .menu-item ul li{
     color: #B58F61;
      margin-top: 1rem;
       
     }
     .feature .menu-div .menu-item ul li a{
       color: #B58F61;
       font-size: 1.3rem;
        
      }
      section.contact{
       background-color: #E5E9F0;
       width: 100%;
       height: 65vh;
       display: flex;
       justify-content: center;
       align-items: center;
      }
      section.contact .contact-info{
        background-color: white;
        padding-top: 50px;
        padding-bottom: 50px;

      }
      section.contact .contact-info h3{
        font-size: 1.5rem;
        text-align: center;
        color: #B58F61;

      }
      section.contact .contact-info h4{
        font-size: 1.1rem;
        text-align: center;
        margin: 25px 0px;

      }
      section.contact .contact-info button{
        border: none;
        outline: none;
        background: transparent;
        background-color: #B58F61;
        padding: 8px ;
        display: block;
        margin-left: auto;
        margin-right: auto;
        transition: all 1s linear;
        -webkit-transition: all 1s linear;
        -moz-transition: all 1s linear;
        -ms-transition: all 1s linear;
        -o-transition: all 1s linear;
}
section.contact .contact-info button a span{
 margin-left: 10px;
 display: none;
 

 }
     section.contact .contact-info button a{ 
       color: white;
       text-decoration: none;
       
      }
  
      section.contact .contact-info button:hover span{
       display: inline-block;
       }

       section.bg-image{
         width: 100%;
         height: 55vh;
       }
       section.bg-image .img-div{
        background-image: url('../images/shutterstock_1140303926-2000Wx1064H.jpg');
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-attachment: fixed;
      }

      footer{
        background-color: #56334F;
        padding: 45px 60px 30px;
      }
      footer address{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
      }
      footer address  .address-info{
        margin-bottom: 1.5rem;
        color: white;
      }
      footer address  .address-info:last-child{
        margin-bottom: 0rem;
       
      }
      footer address  .address-info h4{
        font-size: 1.1rem;
        font-weight: 400;
      }
      footer address  .address-info h5{
        font-size: 0.9rem;
        font-weight: 200;
      }
      footer address  .address-info h6 a{
        color: white;
        text-transform: uppercase;
        text-decoration: underline;
      }
      footer address  .right-div{
       display: flex;
       flex-flow: column;
       align-items: center;
       justify-content: space-between;
    
       height: 300px;
       
      }
      footer address  .right-div .social-icon{
        color: white;
         font-size: 2rem;
         margin-left: auto;
      }
      footer address  .right-div .address-logo img{
        width: 300px;
        height: 100px;
       
      }
      .copy-right{
        background-color: #371C31;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 60px 7px 60px;
        flex-wrap: wrap;
      }
      .copy-right h6{
        color: white;
        font-size: 0.6rem;
        font-weight: 200;
      }
      .copy-right h6:first-child{
        margin-right: 10px;
      }
      .copy-right h6 a{
        color: white;
        text-decoration: underline;

      }
      .service-header{
      max-width: 100%;
       
      }
      .service-header .img-container{
        background-image: url('../images/shutterstock_185678162-2000Wx1064H.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
        background-position: center center;
        background-color: silver;
        position: relative;
        background-attachment: fixed;
      
      }
      .service-header .img-container .img-overlay{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100vh;
          background-color: rgba(0, 0, 0, 0.4);
      }

      .service-header .img-container .img-overlay .title{
        background-color: white;
        padding: 5px 20px;
        color:#B58F61 ;
        text-align: center;
        position: absolute;
        left: 50%;
        top: 75%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        animation: fadeout 0.8s linear ;
        -webkit-animation: fadeout 0.8s linear ;
        animation-fill-mode: both;
        animation-delay: 0.9s;
        
}
@keyframes fadeout{
  0%{
    opacity: 0;
    transform: scale(0.3,0.3);
    -webkit-transform: scale(0.3,0.3);
    -moz-transform: scale(0.3,0.3);
    -ms-transform: scale(0.3,0.3);
    -o-transform: scale(0.3,0.3);
}
50%{
  opacity: 1;
}
}
    .service-header .img-container .img-overlay .title h2{
        font-weight: 200;
        font-size: 2rem;
        letter-spacing: 2px;  
  }
  .our-services .container{
    margin-top:5rem;
    margin-bottom: 5rem;
  }
  .our-services .container .title{
      margin-bottom: 1.8rem;
  }
  .our-services .container .title  h2{
   font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 38.4px;
  letter-spacing: 3px;
  margin-bottom: 1.8rem;  
  line-height: 49.62px;
  vertical-align: baseline;
}
.our-services .container .title  h3{
  font-family: 'Open Sans', sans-serif;
 font-weight: 400;
 font-size: 22.4px;
 margin-bottom: 1.3rem; 
 color: #b58f61;
 letter-spacing: 2px; 
}
.our-services .container .title  .underline{
  width:220px ;
  height: 1px;
  background-color: #b58f61;
}
.our-services .container .text{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 17.2px;
  line-height: 33.23px;
}
.our-services .container .text p:first-child{
  margin-bottom: 1.4rem;
 
}
.our-services .features-sec .left-side:nth-child(odd){
  padding-left: 8.2rem;
  padding-right: 3rem;
}

.our-services .features-sec .left-side:nth-child(odd) .title h3{
  font-family: 'Open Sans', sans-serif;
 font-weight: 400;
 font-size: 22.4px;
 margin-bottom: 1.3rem; 
 color: #b58f61;
 letter-spacing: 2px; 
}
.our-services .features-sec .left-side:nth-child(odd) .title  .underline{
  width:220px ;
  height: 1px;
  background-color: #b58f61;
}
.our-services .features-sec .left-side:nth-child(odd) .text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 17.2px;
  line-height: 33.23px;
  margin-top: 1rem;
}
.our-services .features-sec .left-side:nth-child(odd) .text  p a{
  text-decoration: underline;
  color: #b58f61;
  font-weight: 550;
}
.our-services .features-sec .right-side:nth-child(even) {
  padding-right: 0;
}
.our-services .features-sec .right-side:nth-child(even) .feature-div-img {
  background-image: url('../images/shutterstock_692644189-2000Wx1064H-1024x544.jpg');
  height: 65vh;
  width: 100%;
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
}
.our-services .features-sec .right-side:nth-child(odd) {
  padding-left: 0;
}
.our-services .features-sec .right-side:nth-child(odd) .feature-div-img {
  background-image: url('../images/shutterstock_1034042560-2000Wx1064H-1024x544.jpg');
  height: 100vh;
  width: 100%;
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
}

.our-services .features-sec .left-side:nth-child(even){
  padding-left: 3.8rem;
  padding-right: 7rem;
  padding-top: 4rem;
}
.our-services .features-sec .left-side:nth-child(even) .title h3{
  font-family: 'Open Sans', sans-serif;
 font-weight: 400;
 font-size: 22.4px;
 margin-bottom: 1.3rem; 
 color: #b58f61;
 letter-spacing: 2px; 
}
.our-services .features-sec .left-side:nth-child(even) .title  .underline{
  width:220px ;
  height: 1px;
  background-color: #b58f61;
}
.our-services .features-sec .left-side:nth-child(even) .text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 17.2px;
  line-height: 33.23px;
  margin-top: 1rem;
}
.our-services .features-sec .left-side:nth-child(even) .text  p a{
  text-decoration: underline;
  color: #b58f61;
  font-weight: 550;
}
.our-services .features-sec .left-side:nth-child(even) .text  .list{
  padding-left: 17px;
}
.our-services .features-sec .left-side:nth-child(5){
  padding-top: 4rem;

}
.our-services .features-sec .right-side:nth-child(6) .feature-div-img {
  background-image: url('../images/shutterstock_379694338-2000Wx1064H-1024x544.jpg');
  height: 95vh;
  width: 100%;
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
}
.our-services .features-sec .right-side:nth-child(7) .feature-div-img {
  background-image: url('../images/shutterstock_643031143-2000Wx1064H-1024x544.jpg');
  height: 60vh;
  width: 100%;
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
}
section.bg-image-service{
  width: 100%;
  height: 55vh;
}
section.bg-image-service .img-div{
 background-image: url('../images/shutterstock_1177700293-2000Wx1064H.jpg');
 background-repeat: no-repeat;
 width: 100%;
 height: 100%;
 background-size: cover;
 background-attachment: fixed;
}
@media (min-width:1050px) and (max-width:1180px){
    .nav-bar .navbar-ul .nav-item .nav-link{
        font-size: 0.85rem;       
     }
}

@media (max-width:1060px){
    .nav-bar{
        height: 140px;
 
     }
    /* .nav-bar .navbar-ul {
    display: none;
      
         
     } */
     .nav-bar .checkbtn{
        line-height: 140px;
        display: block;
        font-size: 4rem;
       }
       .nav-bar .navbar-brand h2{
        font-size: 3rem;
   
      }
      .nav-bar .navbar-brand h3{
          font-size: 2rem;
          
        
        }
        .nav-bar .navbar-ul{
          list-style: none;
          width: 100%;
          position: fixed;
          left: 0px;
          background-color: #B58F61;
          z-index: 2;
          display: none;
        
}
        .nav-bar .navbar-ul .nav-item{
            display: block;
            padding: 10px 0px 0px 15px;
            border-bottom: 1px solid white;
            width: 100%; 
            
        }
        .nav-bar .navbar-ul .nav-item:hover {
           background-color: white;
          
            
        }
        
        .nav-bar .navbar-ul .nav-item .nav-link{
           color: white;
           text-transform: uppercase;
           font-weight: 350;
         
        }
        .nav-bar .navbar-ul .drop-down .nav-link{
         
          display: flex;
          justify-content:space-between;
          width: 100%;

       }
        .nav-bar .navbar-ul .drop-down .nav-link i{
         
           display: inline-block;
             

        }
        #show-navbar-ul{
          display: block;
        }
        /* #checkbox:checked ~ .navbar-ul{
            display: block;
        } */
        .nav-bar .navbar-ul .drop-down .dropdownmenu{
          display: none;
        }
        .nav-bar  .dropdownmenu-small-screen{
  width: 100%;
  position: fixed;
  left: 0px;
  top:100px;
  background-color: #B58F61;
  z-index: 4;
  display: none;
  transition: all 0.3s linear;
  /*box-shadow: 5px 5px 5px rgb(0, 0, 0,0.2),-5px  5px rgb(0, 0, 0,0.2) ;
  */-webkit-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.nav-bar .dropdownmenu-small-screen .dropdownitem{
  display: block;
           padding: 10px 0px 10px 15px;
           border-bottom: 1px solid white;
 text-transform: uppercase;
 color: white;
 text-decoration: none;
 

}
.nav-bar .dropdownmenu-small-screen .backBtn{
  display: block;    
 background-color:  #925606;

}
.nav-bar .dropdownmenu-small-screen .dropdownitem:last-child{
  padding-bottom: 10px;
 

}
.nav-bar .dropdownmenu-small-screen .dropdownitem:hover{
  background-color: white;
  color: #B58F61;

}
.nav-bar .navbar-ul .drop-down:hover .dropdownmenu{
   
  display: none;
}  
         .desc-article{
          margin-top: 3rem;
          margin-bottom: 3rem;
          
          }

          .our-services .container{
            margin-top: 3.4rem;
            padding-left:4rem;
            padding-right: 4rem;
          }
          .our-services .container .title  h2{
          font-size: 30.4px;
        
        }
        .our-services .features-sec .left-side:nth-child(odd){
          padding-left: 6.5rem;
         
        }
      
}

@media (max-width:992px){
    .nav-bar{
        height: 100px;
 
     }
  
     .nav-bar .checkbtn{
        line-height: 90px;
        display: block;
        font-size: 2rem;
       }
       .nav-bar .navbar-brand h2{
        font-size: 1.8rem;
   
      }
      .nav-bar .navbar-brand h3{
          font-size: 1.2rem;
          
        
        }
        .feature{
          margin-top: 3rem;
          margin-bottom: 3rem;
        }
        .our-services .container{
          margin-top: 2.4rem;
          padding-left:3rem;
          padding-right: 4rem; 
          min-width: 100%;
        }
        .our-services .container .title  h2{
        font-size: 30.4px;
      
      }
      .our-services .features-sec .left-side:nth-child(odd){
        padding-left: 4rem;
        padding-right: 4rem;
      }
      .our-services .features-sec .right-side:nth-child(even) .feature-div-img {
       display: block;
        height: 340px;
        width: 88%;
        margin-left: auto;
        margin-right: auto;
      }

      .our-services .features-sec .right-side:nth-child(odd){
        padding-right: 45px;
        padding-left: 65px;
      }

      .our-services .features-sec .right-side:nth-child(odd) .feature-div-img {
        display: block;
        height: 340px;
         min-width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-right: 0;
        margin-right: 0;
      }
      .our-services .features-sec .left-side:nth-child(even){
        padding-left: 4rem;
        padding-right: 4rem;
        padding-top: 4rem;
      }
      .our-services .features-sec .right-side:last-child .feature-div-img {
        display: block;
        height: 340px;
        width: 88%;
        margin-left: auto;
        margin-right: auto;
      }
}
@media (max-width:772px){
  section.slider .overlay{
    padding-left: 10px;
    padding-right: 10px;
  }
  section.contact .contact-info{
    padding-left: 10px;
    padding-right: 10px;

  }
  section.contact .contact-info h3{
    font-size: 1.3rem;

  }
  section.contact .contact-info h4{
    font-size: 1rem;

  }
  section.bg-image{
      
    width: 100%;
    height: 35vh;
 
  }
  footer address  .address-info h4{
    font-size: 0.84rem;
 
  }
  footer address  .address-info h5{
    font-size: 0.73rem;
  
  }
  footer address  .address-info h6{
    font-size: 0.73rem;
  
  }
  footer address  .right-div .address-logo img{
    width: 170px;
    height: 80px;
  
  }
  footer address  .right-div {
    height: 260px;
  
  }
  .service-header .img-container .img-overlay .title h2{
    font-size: 1.3rem;
    letter-spacing: 1px; 
    margin-bottom: 0; 
}
.our-services{
  margin-bottom: 2.7rem; 
}
.our-services .container{
  min-width: 100%;
  padding-left: 3rem;
  padding-right: 2rem;

}
.our-services .container .title  h2{
font-size: 24.4px;
margin-bottom: 0.8rem;

}
.our-services .container .title  h3{
  font-size: 18.4px;

  
  }
  .our-services .container .text  p{
    font-size: 14.4px;
  
    
    }
    .our-services .features-sec .left-side:nth-child(odd){
      padding-left: 4rem;
      padding-right: 4rem;
    }
    .our-services .features-sec .right-side:nth-child(even){
      padding-right: 45px;
      padding-left: 65px;
     }
    .our-services .features-sec .right-side:nth-child(even) .feature-div-img {
     display: block;
      height: 230px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    .our-services .features-sec .right-side:nth-child(odd){
      padding-right: 45px;
      padding-left: 65px;
    }

    .our-services .features-sec .right-side:nth-child(odd) .feature-div-img {
      display: block;
      height: 230px;
       min-width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-right: 0;
      margin-right: 0;
    }
    .our-services .features-sec .left-side:nth-child(even){
      padding-left: 4rem;
      padding-right: 4rem;
      padding-top: 4rem;
    }
    .our-services .features-sec .right-side:last-child .feature-div-img {
      display: block;
      height: 230px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
}


@media (max-width:580px){
    .nav-bar{
        height: auto;
       
     }
    
     .nav-bar .checkbtn{
         width: 100%;
  line-height: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
    
      float: none;
       }
       .nav-bar .navbar-brand{
        width: 100%;
        padding-bottom: 0px;
        padding: 5px;
        
   
      }
    
       .nav-bar .navbar-brand h2{
        font-size: 1.4rem;
   
      }
      .nav-bar .navbar-brand h3{
          font-size: 1rem;
          
        
        }
        .desc-article{
          margin-top: 1.4rem;
          margin-bottom: 1.4rem;
          
          }
          .feature .info{
            padding-left:0.5rem ;
            
          }
           .feature .info h3{
          
            font-size: 1.3rem;
            
          }
          .feature .info .underline{
            width: 30%;
             
           }
           .feature .menu-div{
          padding-left: 0.5rem;
          }
           .feature .menu-div h3{
            font-size: 1.3rem;
          }
          .feature .menu-div .underline{
            width: 30%;
             
           }
           .feature .menu-div .menu-item ul{
            padding-left: 1rem;
             
           }
        
           .feature .menu-div .menu-item ul li a{
             font-size: 1.1rem;
              
            }

            footer address  .address-info h4{
              font-size: 1.1rem;
           
            }
            footer address  .address-info h5{
              font-size: 0.9rem;
            
            }
            footer address  .left-div{
             text-align: center;
              width: 100%;
             
            
            }
            footer address  .address-info h6{
              font-size: 0.9rem;
            
            }
            footer address  .right-div .address-logo img{
              width: 170px;
              height: 80px;
            
            }
            footer address  .right-div {
              height: auto;
              margin-top: 1rem;
              align-items: center;
              width: 100%;
            
            }
            footer address  .right-div .social-icon {
              margin-left: 0;
              margin-bottom: 0.7rem;
            
            }
            footer{
              padding-left: 20px;
              padding-right: 20px;
            }
            .service-header .img-container .img-overlay .title h2{
              font-size: 1rem;
              letter-spacing: 0px; 
            /* padding: 5px 20px; */
          }
           
        
          .our-services .container{
            padding-left:2rem;
            padding-right: 2rem; 
          }
          .our-services .container .title  h2{
          font-size: 21.4px;
          margin-bottom: 0.8rem;
          
          }
          .our-services .container .title  h3{
            font-size: 16.4px;
          
            
            }
            .our-services .container .text  p{
              font-size: 15.2px;
            
              
              }
              .our-services .container .title  .underline{
                  width: 30%;
                
                }
                .our-services .features-sec .left-side:nth-child(odd){
                  padding-left: 3rem;
                  padding-right: 2.8rem;
                }
                .our-services .features-sec .right-side:nth-child(even){
                  padding-right: 2.1rem;
                  padding-left: 3rem;
                 }
                .our-services .features-sec .right-side:nth-child(even) .feature-div-img {
                 display: block;
                  height: 230px;
                  width: 100%;
                  margin-left: auto;
                  margin-right: auto;
                }
            
                .our-services .features-sec .right-side:nth-child(odd){
                  padding-right: 2.1rem;
                  padding-left: 3rem;
                }
            
                .our-services .features-sec .right-side:nth-child(odd) .feature-div-img {
                  display: block;
                  height: 230px;
                   min-width: 100%;
                  margin-left: auto;
                  margin-right: auto;
                  padding-right: 0;
                  margin-right: 0;
                }
                .our-services .features-sec .left-side:nth-child(even){
                  padding-left: 3rem;
                  padding-right: 2.7rem;
                  padding-top: 4rem;
                }
                .our-services .features-sec .right-side:last-child .feature-div-img {
                  display: block;
                  height: 230px;
                  width: 100%;
                  margin-left: auto;
                  margin-right: auto;
                }

.our-services .features-sec .left-side:nth-child(odd) .title h3{
 font-size: 16.4px;
}

.our-services .features-sec .left-side:nth-child(odd) .title  .underline{
  width:40%;
}
.our-services .features-sec .left-side:nth-child(odd) .text {
  font-size: 15.2px;
}
.our-services .features-sec .left-side:nth-child(even) .title h3{

 font-size: 16.4px;
 
}
.our-services .features-sec .left-side:nth-child(even) .title  .underline{
  width:40% ;

}
.our-services .features-sec .left-side:nth-child(even) .text {
  font-size: 15.2px;
}
}
@media (max-width:420px){
    .nav-bar .navbar-brand{
   
        padding-top:10px;
        margin-left: 0px;
        margin-right: 0px;
   
      }
      .nav-bar{
          padding-right: 0px;
          padding-left: 0px;
      }
    .nav-bar .navbar-brand h2{
        font-size: 0.8rem;
   
      }
      .nav-bar .navbar-brand h3{
          font-size: 0.8rem;
          
        
        }
        .desc-article .title h3{
          font-size: 1.7rem;
        }
        .desc-article .info h4{
          font-size: 1.2rem;
          
        }
        .desc-article .info .underline{
         width: 40%;
          
        }
        .our-philosophy{
          height: 90vh;
     
        }
        .our-philosophy .info h3{
          font-size: 1.1rem;
     
        }
        .our-philosophy .info .underline{
          width: 40%;
     
        }
        .our-philosophy .info p{
          font-size: 0.9rem;
     
        }
        .our-philosophy .info {
          padding-left: 10px;
          padding-right: 10px;
     
        }
        section.contact .contact-info{
          padding-left: 5px;
          padding-right: 5px;
      
        }

        section.contact .contact-info h3{
          font-size: 1rem;
      
        }
        section.contact .contact-info h3{
          font-size: 1.1rem;
      
        }
        section.bg-image{
      
          width: 100%;
          height: 25vh;
       
        }
        .copy-right {
          justify-content: center;
          padding-left: 5px;
          padding-right: 5px;
        }
        
        .service-header .img-container .img-overlay .title h2{
          font-size: 0.9rem;
        padding-top: 5px;
        padding-bottom: 5px;
      }
      .our-services .container{
        padding-left:1rem;
        padding-right: 1rem; 
      }
      .our-services .container .title  h2{
      font-size: 20.4px;
      margin-bottom: 0.3rem;
      
      }
      .our-services .container .title  h3{
        font-size: 15.4px;
        letter-spacing: 1px;
      
        
        }
        .our-services .container .text  p{
          font-size: 14.4px;
        line-height: 25px;
        text-align: left;
          
          }
          .our-services .container{
            padding-left:1.8rem;
            padding-right: 2rem; 
          }
          .our-services .features-sec .left-side:nth-child(odd) .title  .underline{
            width:30%;
          } 
          .our-services .features-sec .left-side:nth-child(odd) .text {
            font-size: 14.4px;
          }
          .our-services .features-sec .left-side:nth-child(even) .title h3{

            font-size: 15.4px;
            
           }
           .our-services .features-sec .left-side:nth-child(even) .title  .underline{
            width:30% ;
          
          }
          .our-services .features-sec .left-side:nth-child(even) .text {
            font-size: 14.4px;
          }
          .our-services .features-sec .right-side:nth-child(even) .feature-div-img {
             height: 150px;
           
           }
           .our-services .features-sec .right-side:nth-child(odd) .feature-div-img {
            height: 150px;

          }
          .our-services .features-sec .right-side:last-child .feature-div-img {
            height: 150px;
          }
          
      .our-services .features-sec .left-side:nth-child(odd){
        padding-left: 3rem;
        padding-right: 2.2rem;
      }
      .our-services .features-sec .left-side:nth-child(even){
        padding-right: 2.2rem;
      }

}